  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-3">게시판</h1>
      <p class="lead">여러분의 이야기를 남길 수 있는 게시판입니다.</p>
      <a class="btn btn-primary btn-lg" href="/posts/new" role="button">글쓰기</a>
    </div>
  </div>
  <div class="container">

    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">제목</th>
          <th scope="col">글쓴이</th>
          <th scope="col">작성일</th>
        </tr>
      </thead>
      <tbody>
        <% @posts.each do |post| %>
        <tr>
          <th scope="row"><%= post.id %></th>
          <td><a href="/posts/show/<%= post.id %>"><%= post.title %></a></td>
          <td><%= post.user.email %></td>
          <td><%= time_ago_in_words(post.created_at) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
